.groupIcon,
.vectorIcon {
  position: absolute;
  top: 4826.93px;
  left: 1282.5px;
  width: 157.5px;
  height: 213.9px;
}
.groupIcon {
  top: 4588px;
  left: 1075px;
  width: 365px;
  height: 657.71px;
  mix-blend-mode: multiply;
}
.ellipseIcon {
  position: absolute;
  top: 4412px;
  left: 821px;
  width: 570px;
  height: 570px;
}
.unsplashjWU9FpLW7fIIcon {
  position: absolute;
  top: 4459px;
  left: 860px;
  width: 476px;
  height: 476px;
  object-fit: cover;
}
.rosemaryIcon {
  position: absolute;
  width: 12.08%;
  top: 1646px;
  right: -4.24%;
  left: 92.15%;
  max-width: 100%;
  height: 135px;
}
.groupIcon1,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1061px;
  width: 379px;
  height: 733.4px;
}
.rectangleDiv {
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(245, 71, 72, 0.06),
    rgba(245, 71, 72, 0)
  );
  width: 1440px;
  height: 788px;
}
.ellipseIcon1 {
  position: absolute;
  top: 0;
  left: 65px;
  width: 1375px;
  height: 1219.78px;
}
.todaySpecialOffers {
  cursor: pointer;
}
.todaySpecialOffers,
.whyFoodHutDiv {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
}
.frameDiv {
  position: absolute;
  top: 47px;
  left: 461px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.polygonIcon {
  position: absolute;
  top: 143.05px;
  left: 1309.18px;
  border-radius: 3px;
  width: 15.6px;
  height: 16.31px;
}
.vectorIcon1 {
  position: absolute;
  top: 151.4px;
  left: 1259.56px;
  width: 118.1px;
  height: 316.5px;
}
.ellipseIcon2,
.rectangleDiv1 {
  position: absolute;
  top: 209.5px;
  left: 743px;
  width: 570px;
  height: 570px;
}
.rectangleDiv1 {
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: #f54748;
  width: 162px;
  height: 45px;
}
.downlodeAppDiv {
  position: absolute;
  top: 10px;
  left: 20px;
  text-transform: capitalize;
  display: inline-block;
}
.downlodeAppDiv1,
.groupDiv {
  position: absolute;
  color: #fff;
}
.groupDiv {
  top: 36px;
  left: 1217px;
  width: 162px;
  height: 45px;
}
.downlodeAppDiv1 {
  top: 10px;
  left: 20px;
  font-size: 18px;
  text-transform: capitalize;
  font-family: Sofia Pro;
  text-align: left;
  display: inline-block;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 656px;
  left: 70px;
  width: 162px;
  height: 45px;
}
.bestCooksAndBestDeliveryG {
  position: absolute;
  top: 445px;
  left: 70px;
  font-size: 24px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 517px;
  opacity: 0.8;
}
.seriousSpan {
  color: #f54748;
}
.deliverySpan {
  color: #fdc55e;
}
.wereSeriousForFoodDeliv {
  position: absolute;
  height: 2.8%;
  width: 36.81%;
  top: 4.66%;
  right: 58.33%;
  bottom: 92.54%;
  left: 4.86%;
  font-size: 58px;
  line-height: 0%;
  font-weight: 900;
  display: inline-block;
}
.logoIcon,
.rectangleDiv3 {
  position: absolute;
  top: 32px;
  left: 70px;
  width: 121px;
  height: 78px;
}
.rectangleDiv3 {
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: #f54748;
  width: 139px;
  height: 28px;
  opacity: 0.1;
}
.peopleTrustUs {
  position: absolute;
  top: 5px;
  left: 31px;
  display: inline-block;
}
.groupDiv1,
.groupIcon2 {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 20px;
  height: 20px;
}
.groupDiv1 {
  top: 212px;
  left: 76px;
  width: 139px;
  height: 28px;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
}
.groupIcon3 {
  position: absolute;
  top: 151px;
  left: 787px;
  width: 488px;
  height: 586.5px;
}
.arrow1Stroke,
.orangeIcon,
.vectorIcon2 {
  position: absolute;
  top: 91.5px;
  left: 223.91px;
  width: 133.57px;
  height: 141.19px;
  opacity: 0.5;
}
.arrow1Stroke,
.orangeIcon {
  top: 233.09px;
  left: 350.09px;
  width: 12.94px;
  height: 7.95px;
}
.orangeIcon {
  width: 6.02%;
  top: 260px;
  right: 56.14%;
  left: 37.85%;
  max-width: 100%;
  height: 77.68px;
  opacity: 0.1;
}
.rectangleDiv4 {
  position: absolute;
  top: 568px;
  left: 70px;
  border-radius: 100px;
  background-color: #fff;
  border: 0.5px solid #191919;
  box-sizing: border-box;
  width: 471px;
  height: 54px;
}
.decoreIcon {
  position: absolute;
  top: 408px;
  left: 278px;
  width: 263px;
  height: 8.2px;
}
.searchFoodDiv {
  position: absolute;
  top: 583px;
  left: 121px;
  letter-spacing: -0.01em;
  display: inline-block;
  opacity: 0.5;
}
.bxbxSearchIcon {
  position: absolute;
  top: 583px;
  left: 85px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.groupIcon4 {
  position: absolute;
  top: 574px;
  left: 490px;
  width: 42px;
  height: 42px;
}
.emojionefireIcon {
  position: absolute;
  top: 130px;
  left: 1018px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}
.mintIcon {
  position: absolute;
  width: 9.1%;
  top: 565.84px;
  right: 0.62%;
  left: 90.27%;
  max-width: 100%;
  height: 89.32px;
  opacity: 0.1;
}
.groupIcon5,
.groupIcon6 {
  position: absolute;
  top: 258px;
  left: 1111px;
  width: 38px;
  height: 50.5px;
}
.groupIcon6 {
  top: 272.54px;
  left: 930px;
  width: 39.18px;
  height: 51.27px;
}
.cardIcon,
.groupIcon7 {
  position: absolute;
  top: 299px;
  left: 1140px;
  width: 266px;
  height: 125.21px;
}
.cardIcon {
  top: 291px;
  left: 698px;
  width: 234px;
  height: 145.08px;
}
.mealPNGDownloadImage2Icon,
.pngfind1Icon {
  position: absolute;
  top: 522px;
  left: 1211px;
  width: 133px;
  height: 133px;
  object-fit: cover;
}
.pngfind1Icon {
  top: 637px;
  left: 1059px;
  width: 178px;
  height: 162px;
}
.mealPNGDownloadImage1Icon,
.t4gag1e6fmeokhs7mt3g58vhbt1Icon {
  position: absolute;
  top: 656px;
  left: 847px;
  width: 153px;
  height: 152px;
  object-fit: cover;
}
.t4gag1e6fmeokhs7mt3g58vhbt1Icon {
  top: 505px;
  left: 677px;
  width: 171px;
  height: 166px;
}
.watchVideoDiv {
  position: absolute;
  top: 15px;
  left: 73px;
  font-weight: 500;
  display: inline-block;
}
.playButtonIcon,
.playDemoDiv {
  position: absolute;
  top: -15px;
  left: -30px;
  width: 112px;
  height: 112px;
}
.playDemoDiv {
  top: 652px;
  left: 263px;
  width: 183px;
  height: 52px;
  font-size: 17px;
  color: #686d77;
  font-family: Poppins;
}
.seekPngIcon {
  position: absolute;
  top: 166px;
  left: 1106px;
  width: 153.68px;
  height: 173.72px;
  object-fit: cover;
}
.sliderIcon {
  position: absolute;
  top: 777px;
  left: 69.91px;
  width: 22.09px;
  height: 61px;
}
.todaySpecialOffers1 {
  position: absolute;
  top: 934px;
  left: 490px;
  font-size: 48px;
  text-transform: capitalize;
  display: inline-block;
}
.thatSpan {
  color: #191919;
}
.loremIpsumIsSimplyDummyTe,
.menuThatAlwaysMakeYouFall {
  position: absolute;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
}
.menuThatAlwaysMakeYouFall {
  top: 2717px;
  left: 394px;
  font-size: 48px;
  width: 653px;
  color: #f54748;
}
.loremIpsumIsSimplyDummyTe {
  top: 1023px;
  left: 324px;
  width: 856px;
  opacity: 0.8;
}
.decoreIcon1 {
  position: absolute;
  top: 2095.5px;
  left: 454.5px;
  width: 97px;
  height: 253px;
}
.groupDiv2,
.rectangleDiv5 {
  position: absolute;
  width: 114px;
  height: 45px;
}
.rectangleDiv5 {
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: #f54748;
}
.groupDiv2 {
  top: 2460px;
  left: 639px;
  color: #fff;
}
.weAreMoreThanMultipleServ {
  position: absolute;
  top: 2039px;
  left: 639px;
  font-size: 48px;
  line-height: 129.9%;
  display: inline-block;
  width: 452px;
  color: #000;
}
.thisIsATypeOfResturentWh {
  position: absolute;
  top: 2184px;
  left: 639px;
  display: inline-block;
  width: 690px;
  opacity: 0.8;
}
.vectorIcon3 {
  position: absolute;
  top: 1916.09px;
  left: 450.47px;
  width: 410.03px;
  height: 119.91px;
}
.onlineOrderDiv,
.preReservationDiv {
  position: absolute;
  top: 2286px;
  left: 675px;
  font-weight: 500;
  display: inline-block;
}
.preReservationDiv {
  top: 2341px;
}
.cleanKitchenDiv,
.oragonizedFoodhutPlace,
.serviceDiv,
.superChefDiv {
  position: absolute;
  top: 2402px;
  left: 675px;
  font-weight: 500;
  display: inline-block;
}
.cleanKitchenDiv,
.oragonizedFoodhutPlace,
.serviceDiv {
  left: 934px;
}
.oragonizedFoodhutPlace,
.serviceDiv {
  top: 2341px;
}
.serviceDiv {
  top: 2286px;
}
.image15Icon,
.image17Icon,
.image18Icon,
.image19Icon,
.image20Icon,
.image21Icon {
  position: absolute;
  top: 2285px;
  left: 639px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.image17Icon,
.image18Icon,
.image19Icon,
.image20Icon,
.image21Icon {
  left: 898px;
}
.image18Icon,
.image19Icon,
.image20Icon,
.image21Icon {
  top: 2340px;
  left: 639px;
}
.image19Icon,
.image20Icon,
.image21Icon {
  top: 2401px;
}
.image19Icon,
.image21Icon {
  left: 898px;
}
.image19Icon {
  top: 2340px;
}
.groupIcon8,
.rectangleDiv6 {
  position: absolute;
  top: 1367px;
  left: 0;
  width: 913px;
  height: 1311px;
}
.rectangleDiv6 {
  top: 130px;
  border-radius: 20px;
  background: linear-gradient(179.69deg, rgba(255, 255, 255, 0), #f54748);
  width: 310px;
  height: 368px;
}
.groupIcon9 {
  top: 0;
  left: 0;
  width: 74px;
  height: 38px;
}
.div,
.groupIcon9,
.starIcon {
  position: absolute;
}
.starIcon {
  top: 2.24px;
  left: 2.76px;
  border-radius: 1px;
  width: 28px;
  height: 28px;
}
.div {
  top: 2px;
  left: 34px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
}
.groupDiv4,
.groupDiv5 {
  position: absolute;
  top: 5px;
  left: 84px;
  width: 72px;
  height: 28px;
}
.groupDiv4 {
  top: 261px;
  left: 77px;
  width: 156px;
  height: 38px;
}
.kebabDiv,
.loremIpsumIsSimplyDummyTe1 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.kebabDiv {
  top: 329px;
  left: 119px;
  font-size: 24px;
  font-weight: 600;
  color: #f54748;
}
.loremIpsumIsSimplyDummyTe1 {
  top: 378px;
  left: 34px;
  font-size: 16px;
  width: 243px;
  opacity: 0.8;
}
.groupDiv6,
.rectangleDiv7 {
  position: absolute;
  width: 131px;
  height: 45px;
}
.rectangleDiv7 {
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: #f54748;
}
.groupDiv6 {
  top: 471px;
  left: 90px;
  text-align: left;
  color: #fff;
}
.unsplashUC0HZdUitWYIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 198px;
  object-fit: cover;
}
.ellipseIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.div1 {
  position: absolute;
  top: 18px;
  left: 16px;
  text-transform: capitalize;
  display: inline-block;
}
.groupDiv8,
.groupDiv9 {
  position: absolute;
  top: 147px;
  left: 126px;
  width: 60px;
  height: 60px;
}
.groupDiv8 {
  top: 29px;
  left: 27.93px;
  width: 198px;
  height: 207px;
}
.ellipseIcon4,
.groupDiv7 {
  position: absolute;
  top: 2.81px;
  left: 2.81px;
  width: 248.31px;
  height: 248.31px;
}
.groupDiv7 {
  top: 0;
  left: 28.07px;
  width: 253.93px;
  height: 253.93px;
  color: #fff;
}
.groupDiv3 {
  position: absolute;
  top: 3053px;
  left: 75px;
  width: 310px;
  height: 516px;
  text-align: center;
}
.frameDiv2 {
  border-radius: 100px;
  background-color: #f54748;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}
.breakfastDiv {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  opacity: 0.8;
}
.frameDiv1,
.frameDiv3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv3 {
  border-radius: 100px;
  border: 2px solid #191919;
  box-sizing: border-box;
  position: relative;
  padding: 10px 20px;
  opacity: 0.6;
}
.frameDiv1 {
  position: absolute;
  top: 2901px;
  left: 211px;
  gap: 30px;
}
.groupDiv10,
.groupDiv17,
.groupDiv24,
.groupDiv31,
.groupDiv38 {
  position: absolute;
  top: 3635px;
  left: 75px;
  width: 310px;
  height: 516px;
  text-align: center;
}
.groupDiv17,
.groupDiv24,
.groupDiv31,
.groupDiv38 {
  top: 3053px;
  left: 403px;
}
.groupDiv24,
.groupDiv31,
.groupDiv38 {
  top: 3635px;
}
.groupDiv31,
.groupDiv38 {
  top: 3053px;
  left: 731px;
}
.groupDiv38 {
  top: 3635px;
}
.groupButton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 471px;
  left: 90px;
  width: 131px;
  height: 45px;
}
.groupDiv46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 310px;
  height: 516px;
}
.chickenTikkaDiv,
.div15 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.chickenTikkaDiv {
  top: 329px;
  left: 79px;
  font-size: 24px;
  font-weight: 600;
  color: #f54748;
}
.div15 {
  top: 18px;
  left: 17px;
}
.groupDiv52 {
  position: absolute;
  top: 0;
  left: 328px;
  width: 310px;
  height: 516px;
}
.desiChowmeinDiv,
.div17 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.desiChowmeinDiv {
  top: 329px;
  left: 70px;
  font-size: 24px;
  font-weight: 600;
  color: #f54748;
}
.div17 {
  top: 18px;
  left: 20px;
}
.groupDiv59 {
  position: absolute;
  top: 0;
  left: 656px;
  width: 310px;
  height: 516px;
}
.groupDiv67,
.groupDiv68 {
  position: absolute;
  top: 5px;
  left: 84px;
  width: 73px;
  height: 28px;
}
.groupDiv67 {
  top: 261px;
  left: 77px;
  width: 157px;
  height: 38px;
}
.chickenCharghaDiv,
.div19 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.chickenCharghaDiv {
  top: 329px;
  left: 59px;
  font-size: 24px;
  font-weight: 600;
  color: #f54748;
}
.div19 {
  top: 18px;
  left: 15px;
}
.groupDiv66 {
  position: absolute;
  top: 0;
  left: 984px;
  width: 310px;
  height: 516px;
}
.groupDiv45,
.groupDiv73,
.groupDiv80 {
  position: absolute;
  top: 1137px;
  left: 75px;
  width: 1294px;
  height: 516px;
  text-align: center;
}
.groupDiv73,
.groupDiv80 {
  top: 3053px;
  left: 1059px;
  width: 310px;
}
.groupDiv80 {
  top: 3635px;
}
.groupIcon21 {
  position: absolute;
  top: 1004.08px;
  left: 0;
  width: 159.15px;
  height: 187.49px;
  opacity: 0.3;
}
.rectangleIcon,
.socialMediaIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.socialMediaIcon {
  height: 12.06%;
  width: 30.89%;
  top: 87.94%;
  right: 69.11%;
}
.loremIpsumDolorSitAmetCo {
  position: absolute;
  height: 42.61%;
  width: 100%;
  top: 31.96%;
  right: 0;
  bottom: 25.44%;
  left: 0;
  display: inline-block;
}
.foodhutDiv,
.logoDiv1 {
  position: absolute;
  top: 0;
  left: 0;
}
.foodhutDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  font-weight: 600;
  display: inline-block;
}
.logoDiv1 {
  height: 26.04%;
  width: 36.92%;
  right: 63.08%;
  bottom: 73.96%;
  font-size: 32px;
  color: #f54748;
}
.logoDiv {
  position: absolute;
  height: 39.03%;
  width: 22.57%;
  top: 17.55%;
  right: 68.06%;
  bottom: 43.42%;
  left: 9.38%;
}
.aboutUsDiv2,
.aboutUsDiv3,
.companyDiv,
.contactDiv,
.serviceUsDiv {
  position: absolute;
  height: 12.77%;
  width: 74.75%;
  top: 26.6%;
  right: 25.25%;
  bottom: 60.64%;
  left: 0;
  display: inline-block;
}
.aboutUsDiv3,
.companyDiv,
.contactDiv,
.serviceUsDiv {
  width: 85.86%;
  top: 46.81%;
  right: 14.14%;
  bottom: 40.43%;
}
.aboutUsDiv3,
.companyDiv,
.contactDiv {
  width: 65.66%;
  top: 67.02%;
  right: 34.34%;
  bottom: 20.21%;
}
.aboutUsDiv3,
.companyDiv {
  width: 80.81%;
  top: 87.23%;
  right: 19.19%;
  bottom: 0;
}
.aboutUsDiv3 {
  height: 17.55%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 82.45%;
  font-size: 24px;
  font-weight: 600;
  color: #f54748;
}
.aboutUsDiv1 {
  position: absolute;
  height: 43.42%;
  width: 6.88%;
  top: 19.86%;
  right: 53.61%;
  bottom: 36.72%;
  left: 39.51%;
}
.partnershipDiv,
.privacyDiv,
.sitemapDiv,
.termsOfUse {
  position: absolute;
  height: 12.77%;
  width: 90.57%;
  top: 26.6%;
  right: 9.43%;
  bottom: 60.64%;
  left: 0;
  display: inline-block;
}
.privacyDiv,
.sitemapDiv,
.termsOfUse {
  width: 99.06%;
  top: 46.81%;
  right: 0.94%;
  bottom: 40.43%;
}
.privacyDiv,
.sitemapDiv {
  width: 57.55%;
  top: 67.02%;
  right: 42.45%;
  bottom: 20.21%;
}
.sitemapDiv {
  width: 65.09%;
  top: 87.23%;
  right: 34.91%;
  bottom: 0;
}
.companyDiv1 {
  position: absolute;
  height: 43.42%;
  width: 7.36%;
  top: 19.86%;
  right: 39.38%;
  bottom: 36.72%;
  left: 53.26%;
}
.getInTouch1,
.loremIpsumDolorSitAmetCo1 {
  position: absolute;
  height: 24.62%;
  width: 100%;
  top: 35.9%;
  right: 0;
  bottom: 39.49%;
  left: 0;
  font-size: 18px;
  display: inline-block;
}
.getInTouch1 {
  height: 16.92%;
  width: 35.09%;
  top: 0;
  right: 64.91%;
  bottom: 83.08%;
  font-size: 24px;
  font-weight: 600;
  color: #f54748;
}
.rectangleIcon1,
.subscribeDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangleIcon1 {
  border-radius: 39px;
  max-width: 100%;
  max-height: 100%;
}
.subscribeDiv {
  font-weight: 500;
  display: inline-block;
}
.buttonDiv,
.textIcon {
  position: absolute;
  height: 34%;
  width: 57.63%;
  top: 32%;
  right: 18.64%;
  bottom: 34%;
  left: 23.73%;
}
.buttonDiv {
  height: 25.64%;
  width: 31.13%;
  top: 74.36%;
  right: 10.82%;
  bottom: 0;
  left: 58.05%;
  color: #fff;
  font-family: Inter;
}
.rectangleIcon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 38px;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.1;
}
.emailDiv {
  position: absolute;
  height: 34%;
  width: 17.56%;
  top: 34%;
  right: 70.73%;
  bottom: 32%;
  left: 11.71%;
  display: inline-block;
  opacity: 0.51;
}
.groupDiv87 {
  position: absolute;
  height: 25.64%;
  width: 54.09%;
  top: 74.36%;
  right: 45.91%;
  bottom: 0;
  left: 0;
  font-family: Inter;
}
.getInTouch {
  position: absolute;
  height: 45.03%;
  width: 26.32%;
  top: 19.86%;
  right: 6.53%;
  bottom: 35.1%;
  left: 67.15%;
  font-size: 14px;
}
.copyright2022Foodhut {
  position: absolute;
  height: 4.39%;
  width: 14.51%;
  top: 86.84%;
  right: 41.88%;
  bottom: 8.78%;
  left: 43.61%;
  font-size: 16px;
  font-family: Inter;
  display: inline-block;
}
.footerDiv {
  position: absolute;
  height: 7.77%;
  width: 100%;
  top: 92.23%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangleDiv30 {
  position: absolute;
  top: 64.19px;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fdc55e);
  width: 1440px;
  height: 632px;
  opacity: 0.1;
}
.groupIcon22 {
  position: absolute;
  top: 0;
  left: 860px;
  width: 476px;
  height: 643.88px;
}
.allYouNeedToDoIsDownlode,
.itsNowMoreEasyToOrderBy {
  position: absolute;
  top: 152.19px;
  left: 70px;
  display: inline-block;
  width: 643px;
}
.allYouNeedToDoIsDownlode {
  top: 333.19px;
  font-size: 18px;
  color: #191919;
  width: 550px;
  opacity: 0.8;
}
.a3ac62578a9f8Icon,
.seekPngIcon1 {
  position: absolute;
  top: 0.19px;
  left: 1188px;
  width: 252px;
  height: 332.46px;
  object-fit: cover;
}
.seekPngIcon1 {
  top: 607.19px;
  left: 1092px;
  width: 271px;
  height: 179px;
}
.mobileAppStoreBadge,
.mobileAppStoreBadge1 {
  position: absolute;
  top: 447.19px;
  height: 40px;
  mix-blend-mode: normal;
}
.mobileAppStoreBadge {
  left: 70px;
  border-radius: 5px;
  width: 135px;
  overflow: hidden;
}
.mobileAppStoreBadge1 {
  left: 232px;
  border-radius: 7px;
  width: 120px;
}
.frameDiv10 {
  position: absolute;
  top: 4290.81px;
  left: 0;
  width: 1522.48px;
  height: 786.19px;
  font-size: 48px;
  color: #000;
}
.landingPageDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 5576px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #191919;
  font-family: Sofia Pro;
}
